* {
  font-family: 'Marcellus SC';
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("http://getwallpapers.com/wallpaper/full/0/7/d/263156.jpg");
  background-size: 317%;
  background-attachment: fixed;
  background: no-repeat, cover;
  background-position: center, center;
}

/*Esto es para aparecer y desaparecer pantallas*/

.hide {
  display: none;
}

/* Estilos de logos*/

.HPLogo {
    align-content: center;
    width: 63%;
    display: block;
    margin: auto;
    padding: 10px;
}

.HPLogoAlterno {
  width: 20%;
  display: block;
  margin: 1.2em auto;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Estilos de los titulos de las pantallas */

.titlesOcupation {
  font-family: 'Marcellus SC';
  font-size: 2.4em;
  color: #ffffff;
  margin: 0.25em;
}

/* Estilos del circulo de Patronus*/

.circleSpells {
  width: 12px;
  margin-right: 6px;
}

/* Estilos del menu principal*/

nav {
  background-color: rgba(18, 18, 48, 0.91);
  width: 100%;
  height: 100%;
  left: -100%;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

label > img {
  padding: 15px;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 70px;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']:checked ~ nav {
  transform: translateX(100%);
}

a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 20px 40px 10px;
}

.principalMenuCategorie li:hover a, .principalMenuCategorie li a:focus {
  background-color: rgba(119, 136, 153, 0.95);
  color: #300E4A;
}

.principalMenuCategorie {
  font-size: 0.813em;
}

#principalMenuList {
  list-style: none;
  top: 140px;
  width: 100%;
  font-size: 25px;
}

.principalMenuCategorie li a {
  padding: 20px 40px 20px 80px;
}

/* Estilos de las subcategorías del menú principal */

#menu_general li a {
  display: flex;
  align-items: center;
  align-content: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  justify-content: space-between;
  flex-wrap: wrap;
}

#menu_general li ul {
  height: 0;
  overflow: hidden;
}

#menu_general li:hover ul, #menu_general li:focus ul {
  height: auto;
}

#menu_general li:hover li a, #menu_general li:focus li a {
  font-family: 'Marcellus SC';
  font-size: 15px;
  line-height: 5px;
}

/* #menu_general li li a:hover, #menu_general li li a:focus{
  background: rgba(119, 136, 153, 0.95);
  color: #300E4A;
}  */
/*
#menu_general li:hover a, #menu_general li a:focus {
  background-color: rgba(119, 136, 153, 0.95);
  color: #300E4A;
} */

/* Estilos de subrayado de opciones de menú*/

hr {
  width: 100%;
  /* color: rgba(129, 129, 142, 0.78); */
  color: #81818E;
  margin: 10px 0px 0px;
  filter: blur(5px);
}

/* Estilos del icono del menu*/

.iconMenu1, .iconMenu2 {
  width: 5%;
  height: auto;
}

/*Estilo del logo alterno del Menu */

.alternLogoMenu {
  width: 25%;
  margin: 5% 5% 3%;
  cursor: pointer;
  align-self: flex-end;
}

/*Estilos del filtro */

#filterCategories {
  text-align: end;
}

#filterSelection {
  background: #300E4A;
  border-radius: 7px;
  border-color: #300e4a;
  color: #ffffff;
  padding: 5px;
  margin: 20px 20px;
}

option {
  font-size: 11px;
}

#filterStudents, #filterStaff, #filterGryffindor, #filterSlytherin {
  text-align: end;
}

#secondFilter, #thirdFilter, #fourthFilter, #fifthFilter {
  text-align: center;
  background: #300E4A;
  border-radius: 7px;
  border-color: #300e4a;
  color: #ffffff;
  padding: 5px;
  margin: 2%;
}

/* Estilos de los cards de personajes*/

#insertPotterCharacter, #insertPotterStudents, #insertPotterStaff, #insertPotterGryffindor,
#insertPotterSlytherin, #insertPotterHufflepuff, #insertPotterRavenclaw, #searchResults, #insertWands,
#insertPotterSpells {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
}

.photoCharacter {
  display: inline-block;
  width: 55%;
  height: 200px;
  margin: 65px auto auto;
}

.flip-card {
  width: 300px;
  height: 420px;
  padding: 20px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%; /* 410.7px */
  backface-visibility: hidden;
  border-radius: 15px;
}

.flip-card-front {
  background-color: rgba(119,136,153,0.95);
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  background-color: rgba(119,136,153,0.95);
  text-align: start;
}

h1 {
  font-size: 1.500em;
  margin: 20px 20px 20px;
  text-align: center;
}

h2 {
  font-size: 1.500em;
  color: #ffffff;
  text-align: center;
  margin: 20px 65px;
}

h3 {
  font-size: 25px;
  margin-left: 30px;
  color: #ffffff;
}

p {
  font-size: 1.000em;
  margin: 9px 20px;
}

li {
  list-style-type: none;
}

div > li {
  font-size: 1.000em;
  margin: 3px;
  margin-left: 38px;
}

/*Esto es para el buscador del menu principal*/

.container-4{
  /* overflow: hidden; */
  /* width: 100%;
  height: 5.5%; */
  /* vertical-align: middle; */
  /* white-space: nowrap; */
  margin: 2.5% 0;
  display: flex;
  justify-content: center;
}

.container-4 input#search{
  width: 80%;
  height: 100%;
  margin-top: 0px;
  padding: 1em;
  background: #2b303b;
  border: none;
  font-size: 0.8em;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #232833;
  width: 13%;
  height: 100%;
  /* height: 40px;
  /* width: 50px; */
  color: #4f5b66;
  opacity: 0;
  font-size: 9pt;
  margin-top: 0px;
  margin-left: -13%;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -13%;
}

.container-4:hover button.icon:hover{
  background: white;
}

/* Estilos de cards de varitas */

.wand-card, .spells-card {
  background-color: rgba(119,136,153,0.95);
  border-radius: 10px;
  display: flex;
  /* width: 400px;
  height: 250px; */
  width: 320px;
  height: 190px;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}

.wand-card-photo, .spells-card-photo {
  width: 30%;
  height: 70%;
}

.wand-description, .spells-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 46%;
  height: 90%;
}

.wand-description li {
  margin: 2% 0;
  font-size: 110%;
}

.spells-description li {
  margin: 4% 20%;
  font-size: 110%;
  text-align: center;
}

.spells-description h1 {
  margin: 2% 0;
  font-size: 125%;
  text-align: center;
}

.wand-description h1 {
  margin: 2% 0;
  font-size: 130%;
}


/* Small devices (landscape phones, 376px and up) */
@media (min-width: 375px) {
  body {
    background-image: url("http://getwallpapers.com/wallpaper/full/0/7/d/263156.jpg");
    background-size: 390%;
    background-attachment: fixed;
    background: no-repeat, cover;
    background-position: center, center;
  }
}

@media (min-width: 568px) {
  body {
    background-image: url("http://getwallpapers.com/wallpaper/full/0/7/d/263156.jpg");
    background-size: 110%;
    background-attachment: fixed;
    background: no-repeat, cover;
    background-position: center, center;
  }

  /* Logo alterno del menú más pequeño*/
  .alternLogoMenu {
    width: 15%;
    margin: 4% 5% 3%;
  }

  /* Estilos del icono del menu*/

  .iconMenu1, .iconMenu2 {
    width: 3%;
    height: auto;
  }
}

@media (min-width: 640px) {
  body {
    background-image: url("http://getwallpapers.com/wallpaper/full/0/7/d/263156.jpg");
    background-size: 110%;
    background-attachment: fixed;
    background: no-repeat, cover;
    background-position: center, center;
  }
}

@media (min-width: 734px) {
  body {
    background-image: url("http://getwallpapers.com/wallpaper/full/0/7/d/263156.jpg");
    background-size: 110%;
    background-attachment: fixed;
    background: no-repeat, cover;
    background-position: center, center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 760px) {
  nav {
    background-color: rgba(18, 18, 48, 0.91);
    width: 50%;
    height: 100%;
    left: -50%;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  input[type='checkbox']:checked ~ nav {
    transform: translateX(100%);
  }

  /* Logo alterno del menú más pequeño*/

  .alternLogoMenu {
    width: 25%;
    margin: 5% 7% 3%;
  }

  /*Esto es para el buscador del menu principal*/

  .container-4 {
    margin: 5% 0;
  }

  /* Estilos del icono del menu*/

  .iconMenu1, .iconMenu2 {
    width: 7%;
    height: auto;
  }

  .HPLogoAlterno {
    width: 12.5%;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("http://getwallpapers.com/wallpaper/full/0/7/d/263156.jpg");
    background-size: 230%;
    background-attachment: fixed;
    background: no-repeat, cover;
    background-position: center, center;
  }
}

/* Large devices (tablets, desktops, 992px and up) */
@media (min-width: 992px) {

  body {
    display: flex;
    flex-direction: row;
    background-image: url("http://getwallpapers.com/wallpaper/full/0/7/d/263156.jpg");
    background-size: 317%;
    background-attachment: fixed;
  }

  main {
    width: 70%;
  }

  header {
    width: 30%;
  }

  nav {
    background-color: rgba(18, 18, 48, 0.91);
    width: 30%;
    height: 100%;
    left: -0px;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
  }

  input[type='checkbox']:checked ~ nav {
    transform: translateX(0%);
  }

  /*Esto es para el ícono buscador del menu principal*/

  .container-4 button.icon {
    width: 17%;
    margin-left: -17%;
  }

  .container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -17%;
  }

}

@media (min-width: 1024px) {
  body {
    background-image: url("http://getwallpapers.com/wallpaper/full/0/7/d/263156.jpg");
    background-size: 123%;
    background-attachment: fixed;
    background: no-repeat, cover;
    background-position: center, center;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: row;
    /* background-image: url("http://getwallpapers.com/wallpaper/full/0/7/d/263156.jpg"); */
    /* background-clip: url("audio/Harry_Potter_Diagon_Alley_hd.mp4"); */
    background-size: 100%;
    background-attachment: fixed;
  }

  main {
    width: 80%;
  }

  header {
    width: 20%;
  }

  .HPLogoAlterno {
    width: 9.5%;
    margin-bottom: 37px;
    margin-top: 20px;
  }

  nav {
    background-color: rgba(18, 18, 48, 0.91);
    width: 20%;
    height: 100%;
    left: -0px;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    z-index: 1;
  }
}
