body {
    background-image: url("http://getwallpapers.com/wallpaper/full/0/7/d/263156.jpg");
    background-size: 100%;
    background-repeat: round;
}

.HPLogo {
   width: 45%;
   display:block;
   margin:auto;
}

.photoCharacter {
    display: inline-block;
    outline: 1px solid red;
    width: 105%;
    height: 200px;
}

.card {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #778899;
  margin: 28px;
  padding: 70px;
  border-radius: 10px ;
  transition: 0.3s;
  width: 12%;
  float: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);  
}

.container {
  padding: 2px 16px;
}